<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Document</title>
</head>
<body>

<form method="POST" enctype="multipart/form-data">
    <div id="wrapper">
        <div style="margin-top: 150px; margin-left: 200px;" class="container">
  {% for field in form %}
  <div class="form-group">
    {% if field.widget.input_type != 'hidden' %}
    {{ field.label }}
    {% endif %}

    {% if field.errors %}
    {{ field (class='form-control is-invalid') }}

    {% for error in field.errors %}
    <div class="invalid-feedback">
      {{ error }}
    </div>
    {% endfor %}

    {% else %}
    {{ field (class='form-control') }}
    {% endif %}

  </div>
  {% endfor %}
  <button class="btn btn-primary" type="submit">Сохранить</button>
    </div>
    </div>

</form>

</body>
</html>